body{
	font: 12px/1.5 "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","宋体",sans-serif;
	background: #f5f5f5;
}

fieldset,input,button{
	border: none;
}
ul{
	list-style: none;
}
li{
	list-style: none;
	display: list-item;
}
a{
    text-decoration: none;
    color : rgb(255, 74, 74);
}
img{
	border: 0;
	vertical-align: middle;
}


/*顶部导航site-nav开始------*/
#site-nav{
	height: 32px;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
}
.welcome{
    color: #c40000;
}
.login-info{
	float: left;
}
.sn-quick-menu{
	float: right;
}

.sn-container a{
	color: #999;
}
.sn-container a:hover{
	color: rgb(170, 42, 42);
}
.menu-item a:hover{
	text-decoration: underline;
}
.menu-item:hover{
	background: #fff;
}

/*登录信息部分--------*/
.login-info em{
	padding-right: 10px;

}
.login-info a{
	padding: 0 10px;
}
.login-info .sn-icon{
	left: 0;
}
/*登录信息部分结束--------*/
/*快速导航部分开始 --------*/
.sn-quick-menu>li{
	float: left;
	position: relative;
}
.sn-quick-menu>li>a{
	display: inline-block;
	padding: 0 14px 0 10px;
}
/*顶部导航site-nav结束*/

/*历史订单 start*/
.title{
	font-size: 30px;
}

.left {
	float: left;
}
	
.car {
	width: 1240px;
	margin: 20px auto;
	background: #FFF;
}
.car .img {
	width: 190px;
	text-align: center;
}
.car .img img {
	display: block;
	width: 80px;
	height: 80px;
	margin: 3px auto;
}
.car .name {
	width: 350px;
}
.car .name span {
	line-height: 1;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.car .price {
	width: 144px;
	text-align: right;
	padding-right: 84px;
}
.car .price span {
	color: #ff6700;
	font-size: 16px;
}
.car .number{
	width: 150px;
}
.c_num{
	width:40%;
	height:40px;
	line-height: 40px;
	float: left;
	text-align: center;
	font-size:12px;
}
.car .subtotal{
	width: 130px;	
}
.head_row {
	height: 70px;
	line-height: 70px;
}
.head_row, .row {
	border-bottom: solid 1px #e0e0e0;
}
.row {
	height: 86px;
	line-height:86px;
	padding: 15px 0;
	margin: 0px;
}
.item_count_i{
	height: 85px;
	width:10%;
	float: left;
	margin-right: 25px;
}
.num_count{
	width:150px;
	height:40px;
	float:right;
	margin-top: 21px;	
}
/*历史订单 end*/
	

/*页脚 start*/
.endimg{
    width: 90%;
    display: block;
    margin: auto;
}
.tmall-desc{
    width:100;
    padding-left: 100px;
}
div.footer {
	border-top : 1px solid #e7e7e7;
	margin     : 0;
}
div.footer_desc {
	margin      : 24px auto 0px auto;	
}
div.copyRight {
	background-color : black;
	border-top       : 2px solid #c40000;
}
div.copyRightCenter {
	max-width : 1013px;
	margin-left: 100px;
	position  : relative;
}
div.copyRight span.slash {
	color : white;
}
div.copyRight div.white_link {
	color   : white;
	padding : 0 5px;
}
div.white_link {
	margin : 10px 10px;
}
div.license {
	margin-left    : 10px;
	padding-bottom : 30px;
}
div.license span {
	color : #A4A4A4;
}
div.copyRightYear {
	margin : 10px 0px;
	color  : #686868;
}
/*页脚 end*/